.friend-container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.friend-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 18px;
}

.friend-img {
  width: 100%;
  max-width: 276px;
  object-fit: cover;
}

.friend-name {
  font-size: 14px;
  padding: 2px 10px;
}

.friend-title {
  font-size: 14px;
  font-weight: 100;
  padding: 2px 10px;
}

.friend {
  border: 1px solid #ccc;
  width: fit-content;
  overflow: hidden;
  cursor: pointer;
}
