.single-user-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
  align-items: center;
}

.single-user-img {
  width: 100%;
  max-width: 480px;
  object-fit: cover;
}

.single-user-inf-container {
  cursor: default;
  border: 1px solid black;
  width: 100%;
  padding: 10px 0px 10px 10px;
}

.single-user-inf {
  margin-top: 16px;
}

.single-user-name {
  font-weight: bold;
}
.single-user-underline-txt {
  text-decoration: underline;
}

.single-user-inf-container {
  border: 2px solid #818181;
  width: 100%;
  padding: 10px 0px 10px 12px;
}

.single-user-inf {
  margin: 16px 0px 0px;
}

.single-user-name {
  font-weight: bold;
}

.single-user-title {
  font-style: italic;
}

.single-user-underline-txt {
  text-decoration: underline;
}

.single-user-adr-container {
  padding: 8px 12px;
  line-height: 22px;
  width: fit-content;
  border: 2px solid #818181;
  overflow: hidden;
  cursor: default;
}

.single-user-address {
  font-weight: bold;
}

.friends-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
}

.friends-title{
  margin-bottom: 20px;
}