@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

div,
p,
image {
  padding: 0px;
  margin: 0px;
}

.users {
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

.user-container {
  border: 1px solid gainsboro;
  width: 20%;
}

.user-image {
  object-fit: cover;
  width: 100%;
}

.user-name {
  font-weight: bold;
}

.user-name,
.user-title {
  padding-left: 10px;
}
